EXPO_PUBLIC_GEMPA_DIRASAKAN_API_URL = https://bmkg-content-inatews.storage.googleapis.com/datagempa.json?t=
EXPO_PUBLIC_GEMPA_TERDETEKSI_API_URL = https://bmkg-content-inatews.storage.googleapis.com/gempaQL.json?t=
EXPO_PUBLIC_GEMPA_DIRASAKAN_HISTORY = https://bmkg-content-inatews.storage.googleapis.com/last30feltevent.xml
EXPO_PUBLIC_GEMPA_TERDETEKSI_HISTORY = https://bmkg-content-inatews.storage.googleapis.com/histori.json?t=
EXPO_PUBLIC_SENSOR_SEISMIC_URL = https://bmkg-content-inatews.storage.googleapis.com/sensor_seismic.json

EXPO_PUBLIC_MAPBOX_TOKEN = your_mapbox_token_here
EXPO_PUBLIC_FIREBASE_DATABASE_URL = your_firebase_database_url_here
FIREBASE_SERVICE_ACCOUNT_PATH = path_to_your_firebase_service_account_json_file_here